*
{
  margin: 0;
  padding: 0;
}

div#buzztext
{
  max-width: 12em;
  margin: 1em auto;
  color: white;
  text-align : center;
  font-size: 3em;
  text-shadow: 0 0 0.1em rgb(189, 189, 189);
}

p#description
{
  color: rgba(255, 255, 255, 0.77);
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  width: 30em;
  margin-left: -15em;
  text-align: center;
}

div#mainwrap
{
  max-width: 50em;
  min-height: 30em;
  background-color: rgba(0, 0, 0, 0.48);
  margin: 0 auto;
  box-shadow: 0 0 1em rgba(173, 173, 173, 0.08);
  border-radius: 0 0 1em 1em;
  padding-top: 1em;
}

div.sensor
{
  border-bottom: 2px solid #0006;
  padding-bottom: 1em;
}

div.svgpad
{
  padding: 1em;
  background-color: white;
}

body
{
  background-color: #141D20;
}

li.menu
{
  display: inline;
}

a.menu
{
  transition: background 0.3s;
  text-decoration: none;
  padding: 0.5em;
  color: white;
}

a.menu:hover
{
  background-color: rgba(255, 255, 255, 0.21);
}

nav.menu
{
  padding: 0.5em;
  background-color: rgba(162, 162, 162, 0.29);
  box-shadow: 0 0 0.4em black;
}

ul.posts li
{
  list-style: outside none none;
  background-color: rgba(255, 255, 255, 0.82);
  margin: 0.3em;
  border-radius: 0.2em;
  padding: 0.6em;
}

ul.posts li:nth-child(odd)
{
  background-color: rgba(255, 255, 255, 0.88);
}

a.post-link
{
  text-decoration: none;
  color: rgb(47, 77, 87);
}

a.post-link:visited
{
  color: #19292F;
}

/* Post styles */
/* ----------------------------------------------------------*/

article
{
  color: white;
}

.post
{
  max-width: 50em;
  margin: 0px auto 1em;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 1em;
  border-radius: 0 0 1em 1em;
}

.post img
{
  width: 30em;
  border-radius: 1em;
  margin: 0 auto;
  display: block;
  background-color: #272727;
}

@media screen and (max-width: 32em)
{
  .post img {
    width: 93.75%;
  }
}

.post a
{
  text-decoration: none;
  color: #A4E6E6;
}

a:hover
{
  text-decoration: underline;
}

.post a:visited
{
  color: #C0F2F2;
}

.post-header {
  padding: 10px 0 30px;
}


.post-header h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 0px 0px 0.5em black;
  font-weight: 300;
}

.post-header .meta {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }
